---
import { ArrowLeftIcon, ArrowRightIcon } from "@untitledui-icons/react/line"
import { Badge } from "#/ui/components/Badge"
import { Button } from "#/ui/components/Button"
import { getCollection } from "astro:content"

import Layout from "../../layouts/Layout.astro"

export async function getStaticPaths() {
  const componentEntries = await getCollection("components")

  // get next/prev posts

  return componentEntries.map((entry, index) => ({
    params: { slug: entry.slug },
    props: {
      entry,
      next: componentEntries[index + 1] || undefined,
      prev: componentEntries[index - 1] || undefined,
    },
  }))
}

const { entry, next, prev } = Astro.props
const { Content, headings } = await entry.render()
console.log({ next, prev })
---

<Layout headings={headings} {...entry.data}>
  <!-- Breadcrumbs here -->
  <div class="flex gap-2 mb-4 items-end">
    <h1 class="text-4xl font-semibold leading-none">{entry.data.title}</h1>
    {
      entry.data.client && (
        <>
          <Badge size="sm" color="gray">
            Requires JS
          </Badge>
        </>
      )
    }
  </div>
  <p class="text-xl text-gray-600 dark:text-gray-400 mb-4">
    {entry.data.description}
  </p>

  <div class="prose dark:prose-invert max-w-none">
    <Content />
  </div>

  <div class="flex justify-between items-center gap-4 mt-12">
    {
      prev ? (
        <Button
          href={`/${prev.collection}/${prev.slug}`}
          variant="ghost"
          size="sm"
        >
          <ArrowLeftIcon />
          {prev.data.title}
        </Button>
      ) : (
        <div />
      )
    }
    {
      next ? (
        <Button
          href={`/${next.collection}/${next.slug}`}
          variant="ghost"
          size="sm"
        >
          {next.data.title}
          <ArrowRightIcon />
        </Button>
      ) : (
        <div />
      )
    }
  </div>
</Layout>
